<!DOCTYPE html>
<html>

<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mizstyle.css') }}">
</head>

<body>
    <h1>Admin Dashboard</h1>

    <h2>Seating Chart</h2>
    <div class="seating-chart">
        <pre>
            {% for row in seating_chart_data %}
                [{{ row|join(' ') }}]<br>
                {% endfor %}
        </pre>
    </div>

    <h2>Reservation List</h2>
    {% if reservations %}
    <ul>
        {% for res in reservations %}
        <li>
            {{ res.passengerName }} - Row: {{ res.seatRow }}, Column: {{ res.seatColumn }} - eTicket: {{
            res.eTicketNumber }}
            <a href="{{ url_for('edit_reservation', reservation_id=res.id) }}" class="edit-button">Edit</a>
            <form method="POST" action="{{ url_for('admin_dashboard') }}" style="display: inline-block;">
                <input type="hidden" name="eTicketNumber" value="{{ res.eTicketNumber }}">
                <button type="submit" class="edit-button">Delete</button>

            </form>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No reservations yet.</p>
    {% endif %}

    <a href="{{ url_for('index') }}" class="main-menu-link">Back to Main Menu</a>
</body>

</html>
